.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
メモ.md
AGENTS.md
REVIEW.md
*.code-workspace
images/screenshot01.jpg
images/screenshot02.jpg
images/screenshot03.jpg
assets/*
pnpm-lock.yaml

